
#d1{
    width: 100px; 
    height: 100px; 
    background-color: yellow;
    /* border: 1px solid black; */
    /* margin: 10px; 
    margin: 10px 20px 30px 40px;
    padding: 10px 20px 30px 40px;*/
    position: relative;
    left: 100px;
    }

#d2{
    width: 400px; 
    height: 300px; 
    background-color: green;
    position: relative;
    left: 440px;
}
#d3{
    position: absolute;
    left: 130px;
    top: 75px;
    width: 150px; 
    height: 150px; 
    background-color: red;
    border-radius: 100%;
}
